* {
	margin: 0;
	padding: 0;
}
.max-100 {
	width: 100%;
}

.text-blue {
	color: #073563;
}

.background-light {
	background-color: #baddf1;
}

.button-light {
	background-color: #17a2b8;
	color: white;
	border: none;
	border-radius: 3px;
	width: 120px;
	margin: 5px;
}
.button-second {
	background-color: #595d5e;
	color: white;
	border: none;
	border-radius: 3px;
	width: 120px;
	margin: 5px;
}
.button-danger {
	background-color: #c53838;
	color: white;
	border: none;
	border-radius: 3px;
	width: 120px;
	margin: 5px;
}
.bold {
	font-weight: bold;
}
.width-220 {
	width: 220px;
}

.bg-image {
	background-image: url("../img/top-bg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	padding-top: 100px;
	padding-bottom: 80px;
	max-height: 100vh;
	max-width: 100%;
}
.h1 {
	font-size: 80px;
}
.bg-color {
	background-color: rgb(209, 201, 201);
}
.img-1 {
	width: 900px;
	height: 600;
}
